<h3>Listado de Héroes</h3>
<h3>{{heroNames}}</h3>


<div *ngIf="deletedHero; else nothingWasDeleted">
  <h3>Héroe borrado <small class="text-danger"> {{ deletedHero }} </small> </h3>
</div>

<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada.</h3>
</ng-template>

<button class="btn btn-outline-danger" *ngIf="heroNames.length > 0" (click)="removeLastHero()">Borrar último héroe</button>
<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames" class="list-group-item">{{ name }}
  </li>
</ul>

<!--  Forma Standalone y ya no se necesita de CommonModule

@if(deletedHero){
  <h3>Héroe borrado <small class="text-danger"> {{ deletedHero }} </small> </h3>
}@else {
  <h3>No ha borrado nada.</h3>
}

@if (heroNames.length > 0) {
  <button class="btn btn-outline-danger" (click)="removeLastHero()">Borrar último héroe</button>
<ul class="mt-2 list-group">
  @for (name of heroNames; let i=$index; track i) {
    <li class="list-group-item">{{ name }}
    </li>
  }

</ul>
}
-->
